// Core SASS code
// Imported Partials
@import 'components/reset';
@import 'components/textstyling';
@import 'components/navbar';

// Elements
a{
  text-decoration: none;
}

body{
  font-family: "Barlow", sans-serif;
  background-color: #303B41;
  display: flex;
  justify-content: center;
}

// Classes

// ID's
#siteContainer{
  height: 100vh;
  width: 1024px;
  background-color: #ffffff;
}
