// Core SASS code
// Imported Partials
@import 'components/reset';
@import 'components/textstyling';
@import 'components/navbar';
@import 'components/heroes';

// Elements
a{
  text-decoration: none;
}

body{
  font-family: Barlow, sans-serif;
  background-color: #303B41;
  display: flex;
  justify-content: center;
}

// Classes

// ID's
#siteContainer{
  width: 1024px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
