// Classes
.heroContainer{
  height: 399px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  img{
    height: 100%;
    width: 600px;
  }

  .heroTextContainer{
    width: 384px;
    padding: 0px 40px;
    text-align: left;
    display: flex;
    flex-direction: column;

    h1{
      font-size: 2em;
      font-family: Barlow, sans-serif;
      font-weight: 700;
    }

    span{
      font-size: 2em;
      font-family: Barlow, sans-serif;
      font-weight: 300;
    }
  }
}
