// Classes
.heroContainer{
  height: 399px;
  width: 100%;
  // position: relative;
  // margin: auto 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .heroImage{
    height: 100%;
    width: 600px;
    // position: relative;
  }

  .heroTextContainer{
    width: 384px;
    padding: 0px 40px;
    text-align: left;
    display: flex;
    flex-direction: column;

    h1{
      font-size: 2em;
      font-family: Barlow, sans-serif;
      font-weight: 700;
    }

    p{
      font-size: 2em;
      font-family: Barlow, sans-serif;
      font-weight: 300;
    }
  }
}

  // ID's
#scenery{
  background: url('imgs/scenery600px.jpg');
  background-position: center;
  background-size: cover;
}

#beach{
  background: url('imgs/beach600px.jpg');
  background-position: center;
  background-size: cover;
}

#moorings{
  background: url('imgs/moorings600px.jpg');
  background-position: center;
  background-size: cover;
}
