  // Placeholders
%heroBackgrounds{
  background-position: center;
  background-size: cover;
}

%heroSlide{
  animation-duration: .66s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

  // Classes
.heroContainer{
  height: 399px;
  width: 100%;
  // position: relative;
  // margin: auto 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .heroImage{
    height: 100%;
    width: 60%;
    // position: relative;
  }

  .heroTextContainer{
    background-color: white;
    width: 384px;
    padding: 0px 40px;
    text-align: left;
    display: flex;
    flex-direction: column;

    h1{
      font-size: 2em;
      font-family: Barlow, sans-serif;
      font-weight: 700;
    }

    p{
      font-size: 2em;
      font-family: Barlow, sans-serif;
      font-weight: 300;
    }
  }
}

  // ID's
#scenery{
  background: url('imgs/scenery600px.jpg');
  @extend %heroBackgrounds;
}

#beach{
  background: url('imgs/beach600px.jpg');
  @extend %heroBackgrounds;
}

#moorings{
  background: url('imgs/moorings600px.jpg');
  @extend %heroBackgrounds;
}

#sceneryContainer{
  animation-name: heroSlideLeft;
  @extend %heroSlide;
}

#beachContainer{
  animation-name: heroSlideRight;
  @extend %heroSlide;
}

#mooringsContainer{
  animation-name: heroSlideLeft;
  @extend %heroSlide;
}

  // Animations
@keyframes heroSlideLeft{
  0%{
    transform: translateX(500%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes heroSlideRight{
  0%{
    transform: translateX(-500%);
  }
  100%{
    transform: translateX(0%);
  }
}
